

/* login/register */
#login-form {
	margin-top: 40px;
}
#register-form {
	margin-top: 40px;
}

/* label color */
.input-field label {
	color: #999;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #03a9f4;
	box-shadow: 0 1px 0 0 #03a9f4;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #000;
}

/* Dropdown options */
.dropdown-content li > span {
	color: #03a9f4;
}

/* HEADER */
.nav-back-button {
	float: left;
}


/* ACTIVITY LIST */
.activity-item {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #eee;
}
	.activity-item:hover {
		color: #fff;
		background-color: #039be5;
	}
	.activity-item:active {
		color: #fff;
		background-color: #0288d1;
	}

/* ACTIVITY SUBMIT */
.goal-select-wrapper {
	display: block;
}

/* LOADING */
.spinner-container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
}

/* GENERAL */
.hide-display {
	display: none;
}
.show-display {
	display: block;
}

.disable-link-cursor {
	cursor: default;
}

.widen-button {
	width: 100%;
}

.center-text {
	margin-top: 20px;
	text-align: center;
	vertical-align: middle;
}