<template name="header">
	<div class="navbar-fixed">
		<nav role="navigation" class="light-blue">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo disable-link-cursor">{{navTitle}}</a>
				<a href="#" class="nav-back-button show-on-large {{backButtonActive}}">
					<i class="mdi-navigation-chevron-left" style="font-size: 3em;"></i>
				</a>
				<a href="#" data-activates="slide-out" class="button-collapse show-on-large {{buttonCollapseActive}}">
					<i class="mdi-navigation-menu"></i>
				</a>
		
				{{#if onActivityList}}
					<a href="{{ pathFor 'activitySubmit' }}" class="right"><i class="mdi-content-add" style="font-size: 3em;"></i></a>
				{{/if}}

				<ul id="slide-out" class="side-nav">
					{{#if currentUser}}
						<li class="{{ activeRouteClass 'activityList' }}"><a href="{{ pathFor 'activityList' }}">Activity list</a></li>
						<li><a id="logout-button" href="#" >Log out</a></li>
					{{else}}
						<li class="{{ activeRouteClass 'login' }}"><a href="{{ pathFor 'login' }}">Log in</a></li>
						<li class="{{ activeRouteClass 'register' }}"><a href="{{ pathFor 'register' }}">Register</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>
	</div>	
</template>